@model Library.Mvc.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Membership Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.Age)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.books[0].Author.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.books[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.books[0].ReturnDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
